body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.container{
    background-color:tomato;
    height:50px;
    width:100%;
}

.child-containers{
    
    text-align:center;
}
.child-containers input{
    margin-top:15px;
    color:white;
    background-color:rgb(245, 152, 30);
    border-radius:24px;
    border:none;
}


/* second container start from here */


.second-container{
    margin:50px 240px;
    display:flex;
    justify-content:space-around;
}

.second-child-container{
    height:400px;
    width:350px;
    border:1px solid black;
}

.second-childs{
    margin-top:40px;
    text-align:center;
}
.second-childs input{
    height:34px;
    width:180px;
   
}
.second-childss{
    margin-top:50px;
    text-align:center;
}

.second-childss input{
    border:none;
    height:25px;
    width:80px;
    border-radius:24px;
    background-color: aquamarine;
    color:white;
}
.second-child-container h1{

    text-align:center;
}


/* Namota section start from here */

.namota-container{
    margin:50px 280px;
    display:flex;
    justify-content: center;
}

.child-namota-container{
    height:400px;
    width:350px;
    border:1px solid black;
}
.child-namota-container h1{
    text-align:center;
}